In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\rruiz\documents\.venv\lib\site-packages (4.0.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: py4j==0.10.9.9 in c:\users\rruiz\documents\.venv\lib\site-packages (from pyspark) (0.10.9.9)

In [4]:
from azure.storage.blob import BlobServiceClient
import pandas as pd
from io import StringIO

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\rruiz\documents\.venv\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.22.4 in c:\users\rruiz\documents\.venv\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rruiz\documents\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rruiz\documents\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rruiz\documents\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\rruiz\documents\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
connection_string = ""
# Nom du container
container_name = "76byj86oc9kf"
blob_service_client = BlobServiceClient.from_connection_string(connection_string)

# Récupère le container
container_client = blob_service_client.get_container_client(container_name)

clients_file_name = "stores.csv"

In [30]:
blob_stores = container_client.get_blob_client(clients_file_name)
blob_data_stores = blob_stores.download_blob().readall()
df_stores = pd.read_csv(StringIO(blob_data_stores.decode('utf-8')), sep=';')

print(df_stores.head())
print(df_stores.count())

                    id                latlng  opening  closing  type
0     4438835056941647  (33.41012,-91.06177)        8       20     0
1     2289192660564207  (41.48199,-81.79819)        8       20     1
2         639025595690  (42.93369,-72.27814)        8       20     1
3     3561934145164427  (44.73941,-93.12577)        8       20     0
4  4168704593076572910  (35.61452,-88.81395)        8       20     1
id         50
latlng     50
opening    50
closing    50
type       50
dtype: int64

In [ ]:
def format_hour(val):
    val = int(val)
    if val < 100:  
        hour = val
        minute = 0
    else:
        hour = val // 100
        minute = val % 100
    return f"{hour:02d}:{minute:02d}"



df_stores = df_stores.copy()
df_stores["opening"] = df_stores["opening"].apply(format_hour)
df_stores["closing"] = df_stores["closing"].apply(format_hour)

In [24]:
df_stores[['latitude', 'longitude']] = df_stores['latlng'].str.strip('()').str.split(',', expand=True).astype(float)
df_stores = df_stores[['id', 'latitude', 'longitude', 'opening', 'closing', 'type']]

In [33]:
print(df_stores.dtypes)

id          int64
latlng     object
opening    object
closing    object
type        int64
dtype: object

In [32]:
display(df_stores)

                     id                 latlng opening closing  type
0      4438835056941647   (33.41012,-91.06177)   08:00   20:00     0
1      2289192660564207   (41.48199,-81.79819)   08:00   20:00     1
2          639025595690   (42.93369,-72.27814)   08:00   20:00     1
3      3561934145164427   (44.73941,-93.12577)   08:00   20:00     0
4   4168704593076572910   (35.61452,-88.81395)   08:00   20:00     1
5       349788575114871   (40.65538,-74.38987)   08:00   20:00     1
6      2227038929805094   (32.52515,-93.75018)   08:00   20:00     1
7   4872058026985746936  (33.93113,-117.54866)   08:00   20:00     0
8      4788063003775978   (38.58894,-89.99038)   08:00   20:00     0
9         4187214098379   (26.68451,-80.66756)   08:00   20:00     1
10         676278431058   (28.15112,-82.46148)   08:00   20:00     0
11     3585959166176689   (26.68451,-80.66756)   08:00   20:00     0
12     2223722682655721  (37.73604,-120.93549)   08:00   20:00     1
13     4279246846108715   (32.9156,-117.14392)   08:00   20:00     0
14  4838253726948624450   (38.70734,-77.02303)   08:00   20:00     0
15      343467395442806  (33.72255,-116.37697)   08:00   20:00     1
16     4044611508927039   (40.68066,-73.47429)   08:00   20:00     0
17     4682858957500596   (37.52487,-77.55777)   08:00   20:00     1
18         675992987494   (41.72059,-87.70172)   08:00   20:00     0
19         503870365270  (34.09668,-117.71978)   08:00   20:00     0
20     5261111987144241   (41.55838,-81.56929)   08:00   20:00     0
21     2708972339436348    (42.24113,-88.3162)   08:00   20:00     1
22         675970708342   (31.12406,-97.90308)   08:00   20:00     1
23     6586546991167009   (32.54044,-82.90375)   08:00   20:00     1
24     3541084316409501   (38.06084,-97.92977)   08:00   20:00     0
25        4793609466434   (28.15112,-82.46148)   08:00   20:00     1
26     4862766377469395   (47.76232,-122.2054)   08:00   20:00     1
27         676348848653   (43.91452,-69.96533)   08:00   20:00     1
28        4910033669017  (47.38093,-122.23484)   08:00   20:00     0
29     3596298136120775  (45.49428,-122.86705)   08:00   20:00     0
30     4612215524337637  (46.32374,-120.00865)   08:00   20:00     1
31         676247665430   (27.71809,-82.35176)   08:00   20:00     0
32        4851133210288   (38.96372,-76.99081)   08:00   20:00     1
33     3561590953381915   (25.67927,-80.31727)   08:00   20:00     0
34      180064829299005    (33.08014,-83.2321)   08:00   20:00     0
35      213151497228118    (41.55815,-73.0515)   08:00   20:00     1
36     4397925116705733  (33.50921,-111.89903)   08:00   20:00     1
37         503843045918  (20.88953,-156.47432)   08:00   20:00     0
38      379464897650652  (37.71715,-122.40433)   08:00   20:00     1
39         572022029928     (41.85059,-87.882)   08:00   20:00     0
40        4795003133817   (40.67705,-73.89125)   08:00   20:00     1
41     3572095351152444   (42.30865,-83.48216)   08:00   20:00     0
42      213133979050434    (39.00622,-77.4286)   08:00   20:00     1
43         584412436415   (47.4943,-122.24092)   08:00   20:00     0
44      372933794949885   (40.93121,-73.89875)   08:00   20:00     0
45     2577605306039822   (40.94065,-73.99681)   08:00   20:00     0
46  4683625287967864205    (41.6764,-91.58045)   08:00   20:00     0
47     3582615269592346    (42.4251,-71.06616)   08:00   20:00     0
48      213197174154085    (42.58342,-71.8023)   08:00   20:00     0
49     4699616811080275   (27.71809,-82.35176)   08:00   20:00     0

In [9]:
doublons = df_stores[df_stores.duplicated(subset='id', keep=False)]
display(doublons)

Empty DataFrame
Columns: [id, latlng, opening, closing, type]
Index: []